body {
  padding-left: 30px;
}

body {
  background: linear-gradient(rgb(117, 206, 236), white);
}

h1 {
  font-size: 50px;
  text-align: center;
  color: white;
}

button {
  align-content: center;
  color: white;
  background-color: blue;
  border-radius: 5px;
  font-weight: 600;
  padding: 5px;
}